@using EventStoreApp.Models.EventViewModel
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model EventViewModel

@{
    ViewBag.Title = string.Format("{0} ", Model.Name);
    Layout = "_Layout";
}
<div class="jumbotron">
    <p class="lead">
        <h4>@Model.DateBegin.Date (@Model.DateBegin.DayOfWeek) @Model.DateBegin.TimeOfDay - @Model.DateEnd.Date (@Model.DateEnd.DayOfWeek) @Model.DateEnd.TimeOfDay</h4>
    </p>
    <h1>@Model.Name</h1>
    <p><a class="btn btn-lg btn-primary" role="button" data-toggle="modal" data-target="#regToEvent">Зарегистрироваться</a></p>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        @Html.Raw(Model.Description)
        @if (Model.Amenities.Any())
        {
            <h2>Варианты пребывания:</h2>
            <div class="row">
                <table class="table table-striped">
                    @foreach(var item in Model.Amenities)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DateBegin</td>
                            <td>@item.DateEnd</td>
                            <td>@item.Cost&nbsp;
                                <span class="fa-stack">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-rub fa-stack-1x"></i>
                                </span>
                            </td>
                        </tr>
                    }
                </table> 
            </div>
        }
        <h4>Автор:&nbsp;@Model.OwnerName</h4>
        <p>
            <a asp-controller="Event" asp-action="Edit">Редактировать</a>
            <a asp-action="Index" asp-controller="Event">Назад к списку мероприятий</a>
        </p>
    </div>
</div>

<!-- Окно регистрации-->
<div class="modal fade" id="regToEvent" tabindex="-1" role="dialog" aria-labelledby="titleEvent">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleEvent">Подача заявки на участие в @Model.Name</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-6">
                               @* @Html.DropDownListFor(model => model.Amenities, ViewBag.ChoiseAmenity as SelectList) *@
                                <label for="versionChoise">Вариант пребывания</label>
                                <div class="col-md-8 col-sm-6">
                                    <select id="versionChoise" class="form-control">
                                        <option value="1">Вариант 1</option>
                                        <option value="2">Вариант 2</option>
                                        <option value="3">Вариант 3</option>
                                        <option value="4">Вариант 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary btn-lg">Подать заявку</button>
            </div>
        </div>
    </div>
</div>
